################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieMatchMaker
/MovieMatchMakerLib/obj
/MovieMatchMakerLib/bin/Debug/net7.0
/MovieMatchMakerLib/bin/Release/net7.0
*.sqlite
/MovieMatchMakerLib/bin/Debug/netcoreapp2.0
/MovieMatchMakerApp/bin/Debug/net7.0-windows
/MovieMatchMakerApp/obj
/.vs/ProjectEvaluation
*.user
/MovieMatchMakerLibTests/bin/Debug/net7.0
/MovieMatchMakerLibTests/obj
/MovieMatchMakerApp/bin/Release/net7.0-windows
/MovieMatchMakerLib/bin/Release/netcoreapp2.0
/MovieMatchMakerLibTests/bin/Release/net7.0
/MovieMatchMakerLib/bin/Debug
/MovieMatchMakerApi/bin/Debug/net7.0
/MovieMatchMakerApi/obj
/MovieMatchMakerApi/bin/Release/net7.0
/MovieMatchMakerApp/bin
/MovieMatchMakerApp00000/bin
/MovieMatchMakerApp00000/obj
/.vs
/MovieMatchMakerClient/bin/Debug/net7.0
/MovieMatchMakerClient/Client/obj
/MovieMatchMakerClient/obj
/Backend/.vs/Backend
/Backend/MovieMatchMakerApi/bin
/Backend/MovieMatchMakerApi/obj
/Backend/MovieMatchMakerLibTests/bin
/Backend/MovieMatchMakerLibTests/obj
/Frontend/.vs/Frontend
/Frontend/MovieMatchMakerApp/bin
/Frontend/MovieMatchMakerApp/obj
/Frontend/MovieMatchMakerClient/bin/Debug/net7.0
/Frontend/MovieMatchMakerClient/obj
/Shared/MovieMatchMakerLib/bin
/Shared/MovieMatchMakerLib/obj
/Backend/.vs/ProjectEvaluation
/Frontend/.vs/ProjectEvaluation
