################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieMatchMakerLib/obj
/MovieMatchMakerLib/bin
/MovieMatchMakerApp/bin
/MovieMatchMakerApp/obj
/MovieMatchMakerLibTests/bin
/MovieMatchMakerLibTests/obj
/MovieMatchMakerApi/bin
/MovieMatchMakerApi/obj
/MovieMatchMakerClient/bin
/MovieMatchMakerClient/obj

/Backend/MovieMatchMakerApi/bin
/Backend/MovieMatchMakerApi/obj
/Backend/MovieMatchMakerLibTests/bin
/Backend/MovieMatchMakerLibTests/obj

/Frontend/MovieMatchMakerApp/bin
/Frontend/MovieMatchMakerApp/obj
/Frontend/MovieMatchMakerClient/bin
/Frontend/MovieMatchMakerClient/obj
/Frontend/Tests/bin
/Frontend/Tests/obj

/Shared/MovieMatchMakerLib/bin
/Shared/MovieMatchMakerLib/obj

*.user
/Frontend/.vs
/Backend/.vs
/.vs
*.sqlite
/Backend/MovieMatchMakerApi/Dark City_1998_connections.png
/Frontend/MovieMatchMakerClient/wwwroot/lib
