@page "/"

<PageTitle>Movie Match Maker</PageTitle>

<h1>Welcome to Movie Match Maker!</h1>

<p><h3>Find movies you didn't know you liked!</h3></p>

<p></p>
<p></p>
<p>Under Movies, find and click a movie to see other movies that are connected to it...</p>
