@page "/"

<PageTitle>Movie Match Maker</PageTitle>

<h1>Welcome to Movie Match Maker!</h1>

<p><h3>Find movies you didn't know you liked!</h3></p>

<p><em>(AKA an actual real movie recommendation algorithm)</em></p>

<p>To get started, find a movie in the Movies tab to begin exploring it's connections...</p>

<MudPaper Class="mt-4">
<p>
    <ul style="list-style-type:disc;">
        <li>Once you find a movie you are interested in, click it's' CONNECTIONS button to see other movies that are connected to it and how "strong" (i.e. numerous) the connection is.</li>
        <li>You will then be on the movie's connections page. To see the details of a specific connection, select a connection's CONNECTION button.</li>
        <li>the connection details page, you can see the specific people thaat connect/are in both movies and the roles they play in both.</li>
    </ul>
</p>
</MudPaper>
