@page "/movieconnectionsgraphformovie/{Title}/{ReleaseYear:int}"
@using MovieMatchMakerLib.Client;
@using MovieMatchMakerLib.Model;

@inject IMovieConnectionsClient MovieConnectionsClient
@inject ILogger<MovieConnectionsForMovie> Logger

<div>
    <h1>@Title (@ReleaseYear)</h1>
    <MermaidDiagram MermaidMarkup="@_mermaidMarkup" />
</div>

@code {

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int ReleaseYear { get; set; } 

    private string _mermaidMarkup;

    protected async override Task OnInitializedAsync()
    {
        _mermaidMarkup = await MovieConnectionsClient.GetMovieConnectionsGraphForMovie(Title, ReleaseYear);
    }

}