<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Movie Match Maker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movies">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Movies
            </NavLink>
        </div>

        @if (_showAllMovieConnections)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="allmovieconnections">
                    <span class="oi oi-grid-four-up" aria-hidden="true"></span> All Movie Connections
                </NavLink>
            </div>
        }

        @*
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movieconnectionsformovie">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Connections for Movie
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movieconnectiondetails">
                <span class="oi oi-list" aria-hidden="true"></span> Connection Details
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rolesforperson">
                <span class="oi oi-person" aria-hidden="true"></span> Roles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movieconnectionsgraphformovie/Dark City/1998">
                <span class="oi oi-person" aria-hidden="true"></span> Graph for Movie
            </NavLink>
        </div>
        *@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private readonly bool _showAllMovieConnections = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
